// STICKY FOOTER
.site {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.site-content {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.constrain {
	display: block;
	padding: 0 10px;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;

	&.sm {
		max-width: 657px
	}

	&.lg {
		max-width: 1440px;
	}
}

.flexxed {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.p60 {
	padding: 30px 0;
}

.slick-prev,
.slick-next {
	background-color: $darkest;
	border-radius: 20px;
	box-shadow: $light-shadow;
	height: 40px;
	width: 40px;
	transition: $transition-medium;
	z-index: 10;

	&:before {
		color: $accent;
		font-family: $fa;
		font-size: 40px;
		line-height: 23px;
		transition: $transition-medium;
	}

	&:hover,
	&:focus {
		background-color: $accent;
		transition: $transition-medium;

		&:before {
			color: $darkest;
			transition: $transition-medium;
		}
	}
}

.slick-prev {
	padding: 0 5px 0 0 ;
	left: 20px;

	&:before {
		content: '\f104';
	}
}

.slick-next {
	padding: 0 0 0 5px;
	right: 20px;

	&:before {
		content: '\f105';
	}
}