/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

html, body {
	overflow-x: hidden;
}

.site-wrapper {
	transition: $transition-slow;
	width: 100%;

	&.open {
		margin-left: 100vw;
		transition: $transition-slow;
	}
}

.site-content {
	margin: 40px 0 0 0;
}

// .breadcrumbs {
// 	background-color: $lightest;
// }

// .content-area {
// 	background-color: $lightest;
// }

// HIGHLIGHT MODULE
.block-module {
	color: #000;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

// CTA CONTACT MODULE
.cta-contact-module {
	color: $ltgray;
	text-transform: uppercase;

	.text-block {
		font-size: 24px;
		font-weight: 900;
		line-height: 1.15em;
	}

	a {
		color: $ltgray;
	}

	.link {
		
		a {
			color: $lightest;
		}
	}
}

// BREADCRUMBS
.breadcrumbs {
	display: none;
}

// HOMEPAGE
.slide {

	&.flexxed {
		display: flex !important;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}

.slide-text {
	background-color: $accent;
	font-family: $mont;
	font-weight: 900;
	text-transform: uppercase;
}

.slide-text-inner {
	max-width: 706px;
	padding: 20px;

	p {
		font-size: 20px;
	}

	a.chevron-left {
		display: block;
    	margin: 20px 0 0 0;
	}
}

.slide-image {
	height: auto;
	overflow: hidden;
	width: 100%;

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.tabs {
	padding: 0 0 10px 0;

	&.flexxed {
		text-align: center;
	}

	a {
		border-bottom: 1px solid $dkgray;
		margin: 0 0 3px 0;
		font-size: 20px;
		text-transform: uppercase;
		transition: $transition-fast;

		&:hover {
			color: $accent;
		}

		&.active {
			color: $accent !important;
			font-weight: 900;
			transition: $transition-fast;
		}

		&:last-of-type {
			border: 0;
		}
	}
}

.tab-block {
	display: none;
}

.tab-block.visible {
	display: flex;
}

.tab-block-item {
	display: block;
	height: 100%;
	margin: 0 0 10px 0;
	max-height: 300px;
	overflow: hidden;
	position: relative;

	img {
		display: block;
		height: auto;
		max-width: none;
		width: 100%;
	}

	&:before {
		background: rgba(0,0,0,0.7);
		background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		transition: $transition-medium;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&:after {
		background-image: url( '/wp-content/uploads/2018/04/chevron-white.png' );
		background-size: cover;
		bottom: 20px;
		content: '';
		height: 30px;
		left: 20px;
		position: absolute;
		transition: $transition-medium;
		width: 30px;
		z-index: 15;
	}

	&:last-of-type {
		margin: 0;
	}

	&:hover {
		> .overlay {
			color: $darkest;
			transition: $transition-medium;
		}

		&:before {
			background: rgba( $accent, 0.75 );
			transition: $transition-medium;
		}

		&:after {
			background-image: url( 'http://localhost/mainstream/wp-content/uploads/2018/04/chevron-black.png' );
			content: '';
			transition: $transition-medium;
		}
	}

	.overlay {
		color: $lightest;
		display: block;
		font-size: 23px;
		font-weight: 900;
		left: 20px;
		max-width: 75%;
		position: absolute;
		text-transform: uppercase;
		top: 20px;
		transition: $transition-medium;
		z-index: 5;
	}
}

.home.intro-text {
	font-size: 16px;
	margin: 0;
	
	h3 {
		font-weight: 900;
	}
}

.what-we-do {
	color: $lightest;
	background-color: $dkgray;

	.intro {
		text-align: center;
	}

	.title {
		color: $accent;
		font-size: 40px;
		font-weight: 900;
		line-height: 1em;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}

	a.subtitle {
		color: $lightest;
		display: block;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.15em;
		margin: 0 auto;
		max-width: 225px;
		padding: 0 0 0 20px;
		position: relative;
		text-transform: uppercase;

		&:before {
			background-image: url( '/wp-content/uploads/2018/04/chevron-white.png' );
			background-size: cover;
			content: '';
			height: 20px;
			left: 0;
			position: absolute;
			top: 8px;
			width: 20px;
		}
	}

	.category-items {
		padding: 30px 0 0 0;
	}

	a.category-item {
		color: $accent;
		font-weight: 300;
		margin: 0 0 30px 0;
		text-align: center;

		&:last-of-type {
			margin: 0;
		}

		img {
			display: block;
			margin: 0 auto 10px auto;
		}

		h4 {
			font-size: 22px;
			font-weight: 500;
			line-height: 1em;
			margin: 0 0 5px 0;
		}

		.category-link {
			color: $lightest;
			display: inline-block;
			font-size: 15px;
			font-weight: 500;
			position: relative;
			text-transform: uppercase;

			&:after {
				content: '\f054';
				font-family: $fa;
				position: absolute;
				right: -15px;
				top: 0;
			}
		}
	}
}

// PRODUCT PAGE
.intro-text {
	font-size: 20px;
	margin: 0 0 1em 0;
}

.body-content {

	.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}

.product-slider {
	margin: 0 0 1em 0;
}

.fandb-block {
	
	.content {
		padding: 0 10px;
	}
}

.features {

	h2 {
		color: $accent;
	}
}

.comp-opt-types {

	&.p60 {
		padding: 40px 0 30px;
	}

	.item-block {
		background-color: $ltgray;
		margin: 0 0 1em 0;
		padding: 20px 10px;
	}

	.block-image, h4 {
		text-align: center;
	}
}

// SUCCESS STORIES
.testimonial-block {
	background-color: $ltgray;
	margin: 0 0 1rem 0;
	padding: 20px;

	&:last-of-type {
		margin: 0;
	}

	.testimonial-text {
		font-style: italic;
		font-weight: 600;
		margin: 0 0 10px 0;
	}

	.testimonial-client {
		font-size: 14px;
		text-align: right;
	}
}

.success {

	.intro-text {

		> .flexxed {
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			    -ms-flex-direction: column-reverse;
			        flex-direction: column-reverse;
		}
	}
}

.project-details {
	background-color: $ltgray;
	margin: 0 0 1em 0;
	padding: 10px;

	.detail {
		margin: 0 0 10px 0;
	}

	h4 {
		margin: 0;
	}

	a.chevron-left {
		display: block;
		margin: 30px 0 0 0;

		&:before {
			top: 4px;
    		left: 0;
		}
	}
}

// ARCHIVES
.archive {

	.intro-text {
		margin: 0 0 1rem 0;
	}

	.tab-block {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

// LITERATURE PAGE
.media-slider {
	margin: 0 0 1em 0;
}

.media-item {
	background-color: $lightest;
	margin: 0 0 1rem 0;
	padding: 1rem;
}

.media-item-image,
.media-item-text h4,
.media-item-text .text {
	margin: 0 0 10px 0;
	text-align: center;
}

.media-item-text h4 {
	line-height: 1.5rem;
}

// CONTACT PAGE
.form-info {
	padding: 0 0 30px 0;

	.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}

.form-area {
	margin: 0 0 1rem 0;

	h3 {
		font-size: 20px;
	}
}

.gmap {
	margin: 0 0 1rem 0;
}

aside.contact {

	&.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	h4 {
		margin: 0 0 .25rem 0;
	}

	.contact-block {
		padding: 0 0 0 55px;
		position: relative;
		margin: 0 0 1rem 0;

		&:before {
			color: $accent;
			content: '';
			font-family: $fa;
			font-size: 50px;
			left: 0;
			line-height: 1em;
			position: absolute;
			top: 0;
		}

		&.address:before {
			content: '\f08d';
		}

		&.phones:before {
			content: '\f10b';
		}

		&.email:before {
			content: '\f0e0';
			font-size: 40px;
		}
	}
}

// 404 Page
.page-content {
	text-align: center;
}

.link-404 {
	margin: 0 0 10px 0;
	text-align: center;
}

.error-404 {

	form {
        overflow: hidden;
        position: relative;

        input[type=submit] {
            background-color: $accent;
            border: 0;
            color: white;
            font-weight: 700;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            text-transform: uppercase;
        }
    }
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/


/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}