.site-footer {
    color: $lightest;
    background-color: $darkest;
    text-align: center;
    text-transform: uppercase;

    a {
        color: $lightest;
        font-weight: 700;
    }

    .city.text,
    .fax.text,
    .email.text {
        margin: 0 0 10px 0;
    }
}