// HEADER
button#responsive-menu-button {
    height: 37px !important;
    width: 40px !important;
}

.site-header {
    background-color: $lightest;
    box-shadow: $light-shadow;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.aux-header,
.mid-header,
.bottom-header {
    padding: 10px 0;
}

.aux-header {
    background-color: $ltgray;
    display: none;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
}

.mid-header {

    .flexxed {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .search {
        font-size: 20px;
    }
}

.site-branding {
    width: 70%;
}

.site-title {
    width: 185px;

    img {
        display: block;
    }
}

.motto-search {
    position: relative;
    text-align: right;
    width: 10%;

    form {
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 50px;

        input[type=search] {
            padding: 5px 0;
            transition: all 0.75s ease-in-out;
            width: 0;

            &.opened {
                box-shadow: $light-shadow;
                padding: 5px 10px;
                transition: all 0.75s ease-in-out;
                width: 300px;
            }
        }

        input[type=submit] {
            background-color: $accent;
            border: 0;
            color: white;
            font-weight: 700;
            height: 40px;
            position: absolute;
            right: 0;
            top: 0;
            text-transform: uppercase;
        }
    }
}

.site-description {
    color: #000 !important;
    display: none;
    font-family: $mont;
    font-weight: 900;
    text-transform: uppercase;
}

.bottom-header {
    background-color: $darkest;
    overflow: hidden;
}