@media only screen and ( min-width: 480px ) {

    // CLASSES
    .p60 {
        padding: 40px 0;
    }

    .slide-text-inner {
        padding: 20px 40px;
    }

    // TYPOGRAPHY
    h1.page-title {
        font-size: 42px;
    }

    // HOMEPAGE
    .tabbed-links {

        &.p60 {
            padding: 40px 0 30px 0;
        }
    }

    // LITERATURE PAGE
    .media-items-list {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .items-2, .items-3, .items-4, .items-5, .items-6, .items-7, .items-8, .items-9, .items-10 {
            width: 48%
        }
    }

    // CONTACT PAGE
    .form-info {
        padding: 0 0 40px 0;
    }
}

@media only screen and ( min-width: 568px ) {

    // CTA CONTACT MODULE
    .cta-contact-module {
        text-align: center;

        .text-block {
            margin: 0 0 20px 0;
        }
    }

    // HEADER
    button#responsive-menu-button {
        height: 45px !important;
        right: 7% !important;
        width: 45px !important;
    }

    .site-title {
        width: 155px;
    }

    .motto-search {
        padding: 5px 0 0 0;

        form {
            top: 60px;
        }
    }

    .site-content {
        margin: 50px 0 0 0;
    }

    // HOMEPAGE
    .slide-text-inner p {
        font-size: 24px;
    }

    .tab-block {

        &.flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .items-2 ,.items-3, .items-4, .items-5, .items-6, .items-7, .items-8, .items-9, .items-10, .items-11, .items-12,.items-13, .items-14, .items-15 {
            width: 49%;
        }
    }

    // PRODUCT PAGE
    .comp-opt-types {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .item-block {
            width: 49%;
        }
    }
}

@media only screen and ( min-width: 640px ) {

    // SUCCES STORIES
    .testimonials {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    .testimonial-block {
        margin: 0;
        width: 48%;
    }

    // 404 PAGE
    .link-404 {
        display: inline-block;
        margin: 0 0 20px 0;
        padding: 0 20px;
    }
}

@media only screen and ( min-width: 768px ) {

    // TYPOGRAPHY
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 22px;
    }

    // HEADER
    button#responsive-menu-button {
        top: 50px !important;
        transition: $transition-medium !important;

        &.scrolled {
            top: 22px !important;
            transition: $transition-medium !important;
        }
    }

    .aux-header {
        display: block;
        height: 28px;
        overflow: hidden;
        transition: $transition-medium;

        &.scrolled {
            height: 0;
            padding: 0;
            transition: $transition-medium;
        }
    }

    .mid-header {
        padding: 20px 0;
    }

    .site-title {
        width: 200px;
    }

    .motto-search {
        padding: 10px 0 0 0;
    }

    .site-content {
        margin: 120px 0 0 0;
    }

    // HOMEPAGE
    .slide {
        height: 400px;

        &.flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
    }

    .slide-text,
    .slide-image {
        width: 50%;
    }

    .slide-text {
        position: relative;
    }

    .slide-text-inner {
        max-width: 85%;
        padding: 0 0 0 40px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY( -50% );

        p {
            font-size: 28px;
        }
    }

    .slide-image {
        height: 100%;

        img {
            height: 100%;
            max-width: none;
            width: auto;
        }
    }

    .tabs {
        padding: 0 0 20px 0;
        &.flexxed {
            flex-direction: row;
            text-align: left;
        }

        a {
            border-bottom: 0;
            border-right: 1px solid $ltgray;
            display: block;
            float: left;
            min-width: 145px;
            margin: 0 29px 0 0;
            padding: 0 20px 0 0;
        }
    }

    .tab-block {

        .items-3, .items-4, .items-5, .items-6, .items-7, .items-8, .items-9, .items-10, .items-11, .items-12,.items-13, .items-14, .items-15 {
            width: 32%;
        }
    }

    .tab-block-item {
        margin: 0 0 20px 0;
    }

    .home.intro-text {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .intro-text-block {
            width: 48%;
        }
    }

    .what-we-do {

        > .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        }

        .intro {
            text-align: left;
            width: 30%;
        }

        .title {
            font-size: 52px;
            max-width: 250px;
        }

        a.subtitle {
            margin: 0;
            padding: 0 0 0 30px;
        }

        .category-items {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 0;
            width: 70%;
        }

        a.category-item {
            max-width: 350px;
        }
    }

    // PRODUCT PAGE
    .body-content {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .text, .product-slider {
            width: 48%;
        }

        .text.full {
            width: 100%;
        }
    }

    .product-slider {
        margin: 0;
    }

    .fandb {

        &.flexxed {
            flex-direction: row;
        }

        .fandb-block {
            width: 50%;
        }
    }

    // SUCCESS STORY
    .success {

        .project-details {

            .flexxed {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }

            .detail {
                width: 32%;
            }
        }
    }

    .success-images {
        overflow: hidden;
        padding: 0 0 60px 0;
    }

    .success-slider {

        .slick-list {
            overflow: visible;
        }

        .slide {
            height: auto;
            margin: 0 20px 0 0;
        }

        .slick-dots {
            bottom: -45px;
        }
    }

    // ARCHIVES
    .archive {

        .intro-text {
            margin: 0 0 2rem 0;
        }
    }

    // LITERATURE PAGE
    .body-content {

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .text, .media-slider {
            width: 48%;
        }

        .text.full {
            width: 100%;
        }
    }

    .media-slider {
        margin: 0;
    }

    .media-items-list {

        .items-3, .items-4, .items-5, .items-6, .items-7, .items-8, .items-9, .items-10 {
            width: 32%
        }
    }

    // CONTACT PAGE
    .form-cols-2 {
        
        br {
            display: none;
        }

        .wpcf7-form-control-wrap {
            display: inline-block;
            width: 48.5%;

            &:last-of-type {
                float: right;
            }
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        margin: 0 0 20px 0;
    }

    aside.contact {

        &.flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    .gmap,
    .contact-blocks {
        width: 48%;
    }

    // FOOTER
    .left-footer {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: space-between;
            -ms-flex-pack: space-between;
                justify-content: space-between;
        margin: 0 0 20px 0;
    }

    .footer-logo,
    .contact-info {
        width: 47%;
    }

    .footer-logo {
        text-align: right;
    }

    .contact-info {
        text-align: left;
    }
}

@media only screen and ( min-width: 860px ) {

    // PRODUCT PAGE
    .comp-opt-types {

        .item-block {
            width: 32%;
        }
    }
}

@media only screen and ( min-width: 960px ) {

    // CTA CONTACT MODULE
    .cta-contact-module {

        .flexxed {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }

        .text-block {
            font-size: 30px;
            margin: 0;
            text-align: left;
            width: 75%;
        }

        .link {
            width: 25%;
        }
    }

    // HEADER
    .motto-search {

        form {
            right: 50px;
            top: 5px;
        }
    }

    .bottom-header {
        padding: 10px 0;
    }

    .bottom-header {
        color: $lightest;
        text-align: center;

        li {
            display: inline-block;
            float: none;
        }

        a, a:visited {
            color: $lightest;
            font-weight: 700;
            padding: 0 15px;
            text-transform: uppercase;
        }
    }

    .site-content {
        margin: 165px 0 0 0;
    }

    // HOMEPAGE
    .slide-text-inner p {
        font-size: 34px;
    }

    .what-we-do {

        .intro {
            width: 25%;
        }

        .title {
            margin: 0 0 30px 0;
        }

        .category-items {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            width: 75%;

            &.flexxed {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
            }
        }

        a.category-item {
            margin: 0;
            width: 33%;

            img {
                margin: 0 auto 20px auto;
            }
        }
    }

    // PRODUCT PAGE
    .intro-text {
        margin: 0 0 30px 0;
    }

    .fandb-block {

        &:first-of-type {

            .content {
                float: right;
                padding: 0 20px 0 10px;
            }
        }

        &:last-of-type {
           
            .content {
                float: left;
                padding: 0 10px 0 20px;
            }
        }
    }

    // SUCCESS STORY
    .success {

        .intro-text {

            .flexxed {
                display: block;
            }
        }

        .project-text {
            float: left;
            width: 68%;
        }

        .project-details {
            float: right;
            padding: 20px;
            width: 28%;
        }

        .project-details {

            &.flexxed {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }

            .detail {
                width: auto;
            }
        }
    }

    // LITERATURE PAGE
    .media-items-list {

        .items-4, .items-6, .items-7, .items-8, .items-10 {
            width: 24%
        }
    }
}

@media only screen and ( min-width: 1024px ) {

    // CLASSES
    .p60 {
        padding: 60px 0;
    }

    // TYPOGRAPHY
    h1.page-title {
        font-size: 54px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 24px;
    }

    // CTA CONTACT MODULE
    .cta-contact-module {

        .text-block {
            font-size: 34px;
        }
    }

    // HEADER
    .site-description {
        display: inline-block;
        font-size: 24px;
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        position: relative;

        &:after {
            content: '';
            display: block;
            background: $ltgray;
            position: absolute;
            height: 40px;
            width: 1px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .site-branding {
        width: 35%;
    }

    .motto-search {
        width: 65%;

        form {
            right: 48px;
            top: 8px;
        }
    }

    .bottom-header {

        a {
            padding: 0 20px;
        }
    }

    // HOMEPAGE
    .tabbed-links {

        &.p60 {
            padding: 60px 0 40px 0;
        }
    }

    .tab-block {

        .items-4, .items-7, .items-8, .items-11, .items-12 {
            width: 24%;
        }

        .items-5, .items-9, .items-10, .items-13, .items-14, .items-15 {
            width: 19%;
        }
    }

    .home.intro-text {

        .intro-text-block {
            width: 47%;
        }
    }

    // PRODUCT PAGE
    .fandb-block {

        .content {
            max-width: 700px;
            width: 100%;
        }
    }

    .comp-opt-types {

        &.p60 {
            padding: 60px 0 40px;
        }

        .item-block {
            margin: 0 0 20px 0;
        }
    }

    // SUCCESS STORY
    .success-slider {

        .slide {
            margin: 0 30px 0 0;
        }
    }
    
    // ARCHIVES
    .archive {

        .intro-text {
            margin: 0 0 2.5rem 0;
        }
    }

    // CONTACT PAGE
    .form-info {
        padding: 0 0 60px 0;

        .flexxed {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    aside.contact {
        width: 32%;

        &.flexxed {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
    }

    .form-area {
        width: 63%;
    }

    .gmap,
    .contact-blocks {
        width: 100%;
    }

    // FOOTER
    .site-footer {

        .flexxed {
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
    }

    .left-footer {
        margin: 0;
        width: 70%;
    }

    .footer-logo {
        width: 40%;
    }

    .contact-info {
        width: 58%;

        .street.text,
        .city.text,
        .phone.text,
        .fax.text {
            display: inline-block;
            margin: 0 0 5px 0;
        }

        .street.text,
        .phone.text {
            margin: 0 10px 0 0;
            padding: 0 10px 0 0;
            position: relative;

            &:after {
                color: $accent;
                content: '|';
                position: absolute;
                right: -2px;
                top: -1px;
            }
        }

        .email.text {
            margin: 0;
        }
    }

    .right-footer {
        text-align: right;
        width: 25%;

        .copyright.text,
        .privacy.text,
        .sitemap.text {
            display: block;
            margin: 0 0 5px 0;
        }
    }
}

@media only screen and ( min-width: 1200px ) {

    // HEADER
    .bottom-header {

        a {
            padding: 0 35px;
        }
    }

    // HOMEPAGE
    .slide-text-inner p {
        font-size: 39px;
    }

    // PRODUCT PAGE
    .comp-opt-types {

        .flexxed {
            -webkit-box-pack: space-evenly;
                -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
        }

        .item-block {
            width: 23%;
        }
    }

    // FOOTER 
    .left-footer {
        width: 60%;
    }
}

@media only screen and ( min-width: 1276px ) {
    
        // HOMEPAGE
        .slide {
            height: 550px;
        }

        .slide-text-inner p {
            font-size: 50px;
        }
}

@media only screen and ( min-width: 1400px ) {

    .fandb-block {

        &:first-of-type {

            .content {
                padding: 0 30px 0 0;
            }
        }

        &:last-of-type {

            .content {
                padding: 0 0 0 30px;
            }
        }
    }

    // SUCCESS STORY
    .success-slider {

        .slide {
            margin: 0;
        }
    }

    // FOOTER
    .footer-logo {
        width: 35%;
    }

    .contact-info {
        width: 63%;
    }
}