/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a,
a:visited {
	color: $darkest;
	text-decoration: none;
	transition: $transition-medium;
}

a:hover, a:focus, a:active {
	color: $dkgray;
	text-decoration: none;
	transition: $transition-medium;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.open-nav {
    text-align: center;
    width: 15%;

    .fa-bars {
		background-color: $accent;
		box-shadow: $light-shadow;
        color: $lightest;
        font-size: 24px;
        padding: 9px;
    }
}

.menu-shift-menu-container {
	margin: 40px 0 0 0;
}

.shift-nav {
	background-color: $darkest;
	height: 100%;
	left: -100vw;
	padding: 20px;
	position: fixed;
	transition: all 0.4s;
	top: 0;
	width: 100vw;
	z-index: 9999;

	&.open {
		left: 0;
		transition: all 0.4s;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin: 0 0 5px 0;

		a {		
			color: $lightest;
			display: inline-block;
			line-height: 40px;
		}

		&.menu-item-has-children {
		}

		.sub-icon {
			border-left: 1px solid rgba( $lightest, .6 );
			color: rgba( $lightest, .6 );
			float: right;
			font-size: 20px;
			padding: 0 0 0 15px;
		}
	}

	.sub-menu {
		background-color: $darkest;
		height: 100%;
		left: -100vw;
		padding: 20px;
		position: absolute;
		top: 0;
		transition: all 0.4s;
		width: 100vw;

		&.open {
			left: 0;
			transition: all 0.4s;
		}
	}

	a.go-back {
		color: rgba( $lightest, .6 );

		.fas {
			margin: 0 5px 0 0;
		}
	}
}

.menu-close {
	color: rgba( $lightest, .6 ) !important;
	font-size: 25px;
	position: absolute;
	right: 20px;
}

.bottom-header {
	display: none;
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}