// ---------------------------------------------------
//    Colors
// ---------------------------------------------------


$lightest: #FFFFFF;
$darkest: #1a1a1a;
$accent: rgba(0, 178, 233, 1);
$ltgray: #dde1e3;
$dkgray: #555555;


// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------


$light-shadow: 1px 1px 7px 1px rgba(0,0,0,0.07);
$med-shadow: 1px 1px 1px rgba(0,0,0,0.35);


// ---------------------------------------------------
//    Typography
// ---------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');

$font-color: #34435e;
$mont:  'Montserrat', sans-serif;
$fa: 'FontAwesome', sans-serif;


// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------


$transition-fast: all 0.15s ease-in-out;
$transition-medium: all 0.25s ease-in-out;
$transition-slow: all 0.5s ease-in-out;