// ---------------------------------------------------
//    Colors
// ---------------------------------------------------


$lightest: #FFFFFF;
$darkest: #1a1a1a;
$accent: rgba(0, 178, 233, 1);
$ltgray: #dde1e3;
$dkgray: #868686;
$hover: #cc0000;

// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------


$light-shadow: 1px 1px 7px 1px rgba(0,0,0,0.07);
$med-shadow: 1px 1px 1px rgba(0,0,0,0.35);


// ---------------------------------------------------
//    Typography
// ---------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Poppins|Prompt:300,400,500,900');

$font-color: #34435e;
$pop: 'Poppins', sans-serif;
$prom: 'Prompt', sans-serif;
$fa: 'FontAwesome', sans-serif;


// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------


$transition-fast: all 0.15s ease;
$transition-medium: all 0.25s ease;