// ---------------------------------------------------
//    Colors
// ---------------------------------------------------


$lightest: #FFFFFF;
$darkest: #000000;
$accent: #004080;
$blackish: #231f20;
$hover: #cc0000;

// ---------------------------------------------------
//    Shadow
// ---------------------------------------------------


$light-shadow: 1px 1px 7px 1px rgba(0,0,0,0.07);
$med-shadow: 1px 1px 1px rgba(0,0,0,0.35);


// ---------------------------------------------------
//    Typography
// ---------------------------------------------------

$font-color: #34435e;
$robo: 'Roboto', Helvetica, Arial, sans-serif;
$fa: 'FontAwesome', sans-serif;


// ---------------------------------------------------
//    Css Transitions
// ---------------------------------------------------


$transition-fast: all 0.15s ease;
$transition-medium : all 0.25s ease;